@import "../../../styles/global.scss";

.aboutContent {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  section {
    height: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 80px;

    &:nth-of-type(1) {
      animation: animateleft 1s;

      background: linear-gradient(
        270deg,
        rgba(177, 154, 51, 0.5578606442577031) 6%,
        rgba(245, 245, 245, 0.6082808123249299) 36%
      );
    }
    &:nth-of-type(2) {
      animation: animateright 2s;
      flex-direction: column;
      background: linear-gradient(
        90deg,
        rgba(177, 154, 51, 0.5578606442577031) 6%,
        rgba(245, 245, 245, 0.6082808123249299) 36%
      );
      p {
        height: 80%;
      }
      .links {
        height: 20%;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
          font-size: 20px;
          text-decoration: none;
          margin: 0 20px;

          i {
            margin-right: 10px;
          }
        }
      }
    }
    &:nth-of-type(3) {
      animation: animateleft 3s;
      flex-direction: row-reverse;
      background: linear-gradient(
        270deg,
        rgba(177, 154, 51, 0.5578606442577031) 6%,
        rgba(245, 245, 245, 0.6082808123249299) 36%
      );
    }

    p {
      height: 100%;
      text-align: center;
      font-size: 20px;
      padding: 0 40px;
      line-height: 1.6;
    }
    img {
      padding: 10px;
      height: 70%;
    }

    &:nth-child(1) p {
      animation: animateleft 1s;
      padding-top: 20px;
      display: flex;
      align-items: center;
    }

    &:nth-child(2) p {
      padding: 20px 0;
      animation: animateright 2s;
    }
    &:nth-child(3) p {
      padding-bottom: 40px;
      animation: animateleft 3s;
      display: flex;
      align-items: center;
    }
  }
}

@keyframes animateleft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes animateright {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 960px) {
  .aboutContent {
    // padding: 20px;
    section {
      height: unset;
      padding: 0 20px;

      &:nth-of-type(2) .links a {
        display: none;
      }

      p {
        display: flex;
        flex-direction: column;
        letter-spacing: 2px;
        font-size: 18px;
        padding: 0;
      }
      img {
        display: none;
      }

      &:nth-child(1) p {
        animation: unset;
        padding: 0;
      }
      &:nth-child(2) p {
        padding: 0;
        animation: unset;
      }
      &:nth-child(3) p {
        padding: 0;
      }
    }
  }
}
