@import "./settings.scss";
@import "./typography.scss";
@import "./normalize.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $color1;
  color: $color2;
}

a {
  color: $color3;
}

a:hover {
  color: $color4;
}

.viewContent {
  height: calc(100vh - 112px);
  width: 100%;
}
