@import "./settings.scss";
@import "./typography.scss";
@import "./normalize.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $color1;
  // background: grey;
  color: $color2;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

a {
  color: $color3;
  transition: 0.5s;
}

a:hover {
  color: $color4;
}

.viewContent {
  height: calc(100vh - 112px);
  width: 100%;
}
