// $color1: #3a3a3a;
$color1: #f5f5f5;
// $color2: #ffffff;
$color2: #111;
// $color3: tomato;
$color3: #b19a33;
// $color4: #c0aa48;
$color4: #eec46b;
// $color4: red;
// $color5: ;

$navfont: "Titillium Web", sans-serif;
