$color1: #f5f5f5;
$color2: #111;
$color3: #b19a33;
$color4: #eec46b;

$clrHtml: #f16529;
$clrCss: #2965f1;
$clrSass: #cd6799;
$clrBootstrap: #553c7b;
$clrJs: #f0db4f;
$clrReact: #61dbfb;
$clrNode: #68a063;
$clrMongoDB: #3fa037;
$clrGit: #f34f29;
$clrNpm: #cc3534;
$clrYarn: #2c8ebb;
$clrJira: #0052cc;
$clrAdobe: #ff0000;
$clrLinkedin: #2867b2;
$clrGithub: #24292e;
$clrGmail: linear-gradient(to left, #c71610, #3b60c4, #08851b);
/*

*/

$navfont: "Titillium Web", sans-serif;
