@import "../../../styles/global.scss";

.carousel {
  margin: 0 auto;
  width: 90%;
}

.card-wrapper {
  position: relative;
  padding: 0 10px;
  &:active,
  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
}

.card {
  width: 100%;
  height: 500px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border: 4px solid $color3;

  .card-name {
    position: absolute;
    z-index: 3;
    background: rgba(177, 154, 51, 0.8);
    width: 100%;
    // top: 20%;
    top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;

    &::after,
    &::before {
      // position: absolute;
      content: "";
      // margin-top: 10px;
      width: 100%;
      height: 2px;
      background: linear-gradient(to left, $color2, transparent, $color2);
      transition: all 0.5s ease-out;
    }

    p {
      padding: 20px 10px;
      color: blck;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $color2;
    transition: 0.5s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover {
    border-color: $color3;
    img {
      opacity: 0.4;
      transition: 0.5s;
    }

    .card-name {
      transition: all 0.9s;
      transform: translateY(-70px);
      // top: 4%;
      p {
        transition: 1s;
        color: $color1;
      }
      &::after,
      &::before {
        background: linear-gradient(to left, $color1, transparent, $color1);
      }
    }

    .card-image {
      transform: translateY(-160px);
      transition: all 0.9s;
    }
  }
}

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;

  li {
    list-style: none;
    a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: $color4;
      font-size: 23px;
      color: $color2;
      font-weight: bold;
      margin: 0 6px;
      transition: 0.4s;
      transform: translateY(200px);
      opacity: 0;
    }
  }
}

.card:hover {
  .social-icons li a {
    transform: translateY(0px);
    opacity: 1;
  }
}
.social-icons li a:hover {
  background: $color3;
  transition: 0.2s;
  .socIco {
    color: $color1;
  }
}

.social-icons li a .socIco {
  transition: 0.8s;
  height: 100%;
  width: 100%;
  padding: 10px;
  &:hover {
    transform: rotateY(360deg);
    color: $color1;
  }
}

.card:hover li:nth-child(1) a {
  transition-delay: 0.2s;
}
.card:hover li:nth-child(2) a {
  transition-delay: 0.4s;
}

.details {
  position: absolute;
  bottom: 400px;
  left: 0;
  background: $color3;
  width: 100%;
  height: 160px;
  z-index: 1;
  padding: 10px;
  transition: 0.6s;

  .projDesc {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    color: $color2;
    h4 {
      padding: 10px;
    }
    h5 {
      padding: 0 20px;
      letter-spacing: 2px;
    }
  }
}
.card:hover {
  .details {
    bottom: 0;
  }
}

.carousel {
  .slick-dots {
    bottom: -2.5vw;
    li {
      button {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: $color3;
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          content: "";
          text-align: center;
          opacity: 0.5s;
          color: #000;
          background-color: $color2;
          transform: translate(-50%, -50%);
          transition: all 0.3s ease-in-out;
        }
      }
      &.slick-active,
      &:hover {
        button {
          border-color: $color2;
          &::before {
            background-color: $color2;
            opacity: 1;
          }
        }
      }
    }
  }

  .slick-prev,
  .slick-next {
    width: 50px;
    height: 50px;
    background: $color3;
    border-radius: 50%;
    z-index: 10;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    color: $color1;
    outline: none;
    background: $color4;
  }

  .slick-prev::before,
  .slick-next::before {
    color: #000;
  }

  .slick-next {
    right: -55px;
  }

  .slick-prev {
    left: -55px;
  }
}

@media (max-width: 1024px) {
  .carousel {
    margin: 0 auto;
    width: 100%;
  }

  .carousel {
    .slick-dots {
      bottom: -4vw;
    }

    .slick-prev,
    .slick-next {
      top: unset;
      bottom: 20px;
    }

    .slick-next {
      right: 20px;
    }

    .slick-prev {
      left: 20px;
    }
  }
}
