@import "../../../styles/global.scss";

.contactContent {
  display: flex;
  flex-wrap: wrap;
}

.quarter {
  width: 50%;
  height: 50%;
  position: relative;
}

.box {
  width: 500px;
  height: 240px;
  position: absolute;
  margin: 30px;
  border: 4px solid $color3;
  transition: 0.8s;
  background: $color1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    filter: grayscale(0.5);
    left: -130%;
    width: 160%;
    height: 100%;
    transform: skew(50deg);
    transition: 0.8s;
  }

  &.box1,
  &.box2 {
    bottom: 0;
  }
  &.box1,
  &.box3 {
    right: 0;
  }

  &.box1 {
    animation: animB1 0.8s;
    &::before {
      background: $clrAdobe;
    }
  }
  &.box2 {
    animation: animB2 1.2s;
    &::before {
      background: $clrLinkedin;
    }
  }
  &.box3 {
    animation: animB3 1.6s;
    &::before {
      background: $clrGithub;
    }
  }
  &.box4 {
    animation: animB4 2s;
    &::before {
      background: $clrGmail;
    }
  }
}

.box .boxTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 30px;

  .icon {
    position: relative;
    opacity: 0;
    margin-right: 10px;
    font-size: 50px;
    left: -160px;
    transition: all 0.4s ease-in-out;
    color: $color1;
  }

  h3 {
    position: relative;
    left: -16px;
    bottom: -24px;
    transition: all 0.4s ease-in-out;
    text-shadow: 0 0 4px $color1, 0 0 8px $color1;
    display: flex;
    flex-direction: column;
  }
}

.box .checkBtn {
  padding: 6px 20px;
  background: none;
  color: $color1;
  border: 2px solid $color1;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  bottom: -160px;
  transition: all 0.4s ease-in-out;
  opacity: 0;

  .icoBtn {
    transition: all 0.4s ease-in-out;
    font-size: 30px;
    margin: 0 4px;

    &:first-of-type {
      transform: rotate(-90deg);
    }
    &.icoBtn:nth-of-type(3) {
      transform: rotate(90deg);
    }
  }

  .icoBtnMob {
    display: none;
  }

  &.cvBtn {
    margin: 0 4px;
    border: none;

    img {
      height: 50px;
      transition: all 0.2s ease-in-out;
      background: rgba(255, 255, 255, 0.2);
      padding: 10px;
      border-radius: 10px;
    }

    &:hover img {
      transform: scale(1.1);
      background: rgba(255, 255, 255, 0.4);
    }
  }

  &:hover {
    .icoBtn:first-of-type {
      transform: rotate(0deg);
    }

    .icoBtn:nth-of-type(2) {
      margin-bottom: 6px;
    }

    .icoBtn:nth-of-type(3) {
      transform: rotate(0deg);
    }
  }
}

.box:hover {
  border: 4px solid $color4;
  box-shadow: 0 0 4px $color3, 0 0 8px $color3, 0 0 12px $color3;

  &:before {
    left: -60%;
    filter: grayscale(0);
  }

  .boxTitle {
    .icon {
      left: 0;
      opacity: 1;
    }

    h3 {
      bottom: 0;
      left: 0;
      color: $color1;
      text-shadow: unset;

      &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        width: 100%;
        height: 4px;
        background: linear-gradient(to left, $color1, transparent);
      }
    }
  }

  .checkBtn {
    bottom: 20px;
    opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  .contactContent {
    padding-bottom: 32px;
  }

  .quarter {
    position: unset;
    width: 100%;
    height: unset;
    &:nth-child(4) {
      padding-bottom: 32px;
    }
  }

  .box {
    width: 90%;
    height: 240px;
    position: absolute;
    position: unset;
    margin: 10px auto;
    box-shadow: 0 0 4px $color3, 0 0 8px $color3;
    border-radius: 10px;

    &::before {
      display: none;
    }

    &.box1 {
      animation: unset;
    }

    &.box2 {
      animation: unset;
    }

    &.box3 {
      animation: unset;
    }

    &.box4 {
      animation: unset;
    }
  }

  .box {
    &.box1 .boxTitle .icon {
      color: $clrAdobe;
    }

    &.box2 .boxTitle .icon {
      color: $clrLinkedin;
    }

    &.box3 .boxTitle .icon {
      color: $clrGithub;
    }

    &.box4 .boxTitle .icon {
      color: $clrGmail;
    }

    .boxTitle {
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      font-size: 22px;

      .icon {
        opacity: 1;
        left: 0;
        color: $color3;
      }

      h3 {
        color: $color3;
        left: 0;
        bottom: 0;

        &::after {
          content: "";
          position: absolute;
          bottom: -6px;
          width: 100%;
          height: 4px;
          background: linear-gradient(to right, $color3, transparent);
        }
      }
    }
  }

  .box .checkBtn {
    padding: 6px 26px;
    color: $color3;
    color: $color1;
    border: 2px solid $color3;
    bottom: 20px;
    background: $color3;
    opacity: 1;
    border-radius: 10px;

    .icoBtnMob {
      font-size: 24px;
      display: block;
    }

    .icoBtn {
      display: none;
    }

    &.cvBtn {
      background: none;

      &:hover img {
        transform: unset;
      }
    }

    &:hover {
      background: $color4;
      border: 2px solid $color2;
      color: $color2;

      &.cvBtn {
        background: none;
        border: none;
        color: none;
      }
    }
  }

  .box:hover {
    box-shadow: unset;
    border: 4px solid $color3;

    .boxTitle {
      h3 {
        color: $color2;
      }
    }
  }
}

@keyframes animB1 {
  0% {
    transform: translate(50%, 50%);
    background: $color3;
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes animB2 {
  0% {
    transform: translate(-50%, 50%);
    background: $color3;
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes animB3 {
  0% {
    transform: translate(50%, -50%);
    background: $color3;
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes animB4 {
  0% {
    transform: translate(-50%, -50%);
    background: $color3;
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
